<div class="main" ng-cloak>
    <div ng-include="'views/sideMenu.html'"></div>
    <div id="main-content" ng-init="getLookUpDetails()">
        <div class="header-wrapper">
            <header class="clearfix">
                <nav class="navbar navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="col-xs-7 col-sm-10 col-md-9 col-lg-10" id="">
                                <ul class="cus-breadcrumb visible-md-block visible-lg-block reset pull-left">
                                    <li class="sidenav" ng-click="hideSidebar()">
                                        <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="" ng-class={link:hideListView} ng-click="hideListView = false"><a>Lookup</a></li>
                                    <li class="" ng-show="hideListView">{{createLabel}}</li>
                                </ul>
                                <ul class="hidden-md hidden-lg pull-left reset">
                                    <li><a ng-click=""><i class="fa fa-bars" ng-click="sidebarMobileView()"></i></a></li>
                                    <li>DBDG</li>
                                </ul>
                                <button class="pri-cus-buttons pull-right visible-md-block visible-lg-block" ng-click="createNewLookup()" ng-hide="hideListView"><i class="fa fa-plus"></i> Create New Lookup</button>
                            </div>
                            <!-- /.navbar-collapse -->
                            <div ng-include="'views/headerMenu.html'"></div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </header>
        </div>
        <!-- .header-wrapper End -->

        <div class="page-contents lookup">
            <div class="container-fluid">
                <div class="list-view" ng-hide="hideListView">
                    <div class="row hidden-md hidden-lg mob-heads">
                        <div class="col-xs-9 col-sm-8">
                            <h3>Lookup</h3>
                        </div>
                        <div class="col-xs-3 col-sm-4 text-right">
                            <button class="pri-cus-buttons" ng-click="createNewLookup()"><i class="fa fa-plus"></i> Create New Lookup</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="table-responsive cus-cards">
                                <table wt-responsive-table class="table table-striped responsive">
                                    <thead>
                                        <tr>
                                            <th ng-click="sortBy('DetailName');sortReverse = !sortReverse">Detail Name <i class="fa fa-sort"></i></th>
                                            <th ng-click="sortBy('LookUpName');sortReverse = !sortReverse">Lookup Name <i class="fa fa-sort"></i></th>
                                            <th ng-click="sortBy('ParentName');sortReverse = !sortReverse">Parent Name <i class="fa fa-sort"></i></th>
                                            <th>Status </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="lookupDatas in lookUpLists | orderBy:orderField |limitTo: itemsPerPage">
                                        <tr>
                                            <td>{{lookupDatas.DetailName}}</td>
                                            <td>{{lookupDatas.LookUpName}}</td>
                                            <td>{{lookupDatas.ParentName}}</td>
                                            <td>
                                                <!--  <i class="fa fa-ban" data-toggle="tooltip" data-placement="top" title="Inactive"></i>-->
                                                <i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit" ng-click="editLookup($index)" tooltip></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end of content -->
                    <div class="row" ng-if="lookUpLists.length >0" ng-hide="pageCount() == 1">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="clearfix mar-15-7">
                                <div class="pull-left">
                                    <ul class="cus-pagination reset">
                                        <li class="" ng-class="{current:currentPage == n}" ng-repeat="n in range()" ng-click="setPage(n)">{{n}}</li>
                                    </ul>
                                </div>
                                <div class="pull-right">
                                    <nav>
                                        <ul class="cus-pagination-pager reset">
                                            <li class="disabled" ng-class="">
                                                <li class="disabled" ng-if="currentPage == 1">
                                                    <button class="btn-disabled">
                                                        <i class="fa fa-angle-double-left"></i> Previous</button>
                                                </li>
                                                <li class="" ng-if="currentPage > 1">
                                                    <button class="pri-cus-buttons" ng-click="prevPage()">
                                                        <i class="fa fa-angle-double-left"></i> Previous</button>
                                                </li>
                                                <li class="disabled" ng-if="currentPage == pageCount()">
                                                    <button class="btn-disabled">Next <i class="fa fa-angle-double-right"></i></button>
                                                </li>
                                                <li class="" ng-if="currentPage < pageCount()">
                                                    <button class="pri-cus-buttons" ng-click="nextPage(selectedRole)">Next <i class="fa fa-angle-double-right"></i></button>
                                                </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of .pagination -->
                </div>
                <div class="row form-view" ng-show="hideListView">
                    <div class="col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                        <div class="cus-panels-with-pad mar-10-0">
                            <form name="createLookupForm" class="styles">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="dname">Detail Name <span class="required">*</span></label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && createLookupForm.lookupdetail.$invalid]">
                                                <input type="text" class="form-control" id="lookupdetail" name="lookupdetail" ng-change="watchLookupChange()" ng-model="LdName" ng-pattern="/^[a-z A-Z0-9]{1,30}$/" required>
                                                <span class="required" ng-show="submitted && createLookupForm.lookupdetail.$error.required">Detail Name is required</span>
                                                <span class=required ng-show="createLookupForm.lookupdetail.$error.pattern">Detail Name is Invalid </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="lname">Lookup Name <span class="required">*</span></label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && createLookupForm.lookupname.$invalid && createLookupForm.lookupname.$dirty]">
                                                <select class="form-control" id="lookupname" name="lookupname" ng-model="LmId" ng-options="lookUpMaster.Id as lookUpMaster.Value for lookUpMaster in lookUpMastersList" ng-change="watchLookupChange()" required>
                                                </select><span class=required ng-show="submitted && createLookupForm.lookupname.$error.required">Lookup Name is required </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="parent">Parent</label>
                                            <select class="form-control" id="lookupparent" name="lookupparent" ng-model="ParentId" ng-options="lookUpParent.Id as lookUpParent.Value for lookUpParent in lookUpParentList" ng-change="watchLookupChange()">
                                                <option value="">--Select Parent--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select class="form-control" id="lookupstatus" name="lookupstatus" ng-model="status" ng-options="item.Id as item.Value for item in lookUpStatus" ng-change="watchLookupChange()">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label for="notes">Description</label>
                                            <textarea class="form-control" id="lookupdesc" rows="3" name="lookupdesc" ng-model="LdDesc" ng-change="watchLookupChange()"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 clearfix" ng-show="enableSaveBtn">
                                        <button type="button" class="btn-disabled pull-right">{{buttonName}}</button>
                                        <button ng-click="cancelCreateNewLookup()" type="button" class="btn btn-default pull-right">Cancel</button>
                                    </div>
                                    <div class="col-sm-12 col-md-12 clearfix" ng-hide="enableSaveBtn">
                                        <button type="button" class="pri-cus-buttons pull-right" ng-click="saveLookup(LookupDetailId);enableSaveBtn=true">{{buttonName}}</button>
                                        <button ng-click="cancelCreateNewLookup()" type="button" class="btn btn-default pull-right">Cancel</button>
                                    </div>
                                </div>                              
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>