$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* ==========================================================================
App custom styles
========================================================================== */


/*  Site Variables Defined   ================================================ */


/*  - Theme Variables */


/* Generic vaiables  */

$primary-color: #f2be35;
$secondary-color: #32506d;
$tertiary-color: #505050;
$typography-color1: #404040;
$typography-color2: #777777;
$link-color: #3386bc; //#0072bc
$subtle-color: #9fa2aa; //for border and subheading text 
$stripe-color: #f6f6f6;
$generic-border: #dddddd;
$declined: #F44336;
$posted: #4CAF50;
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

/*$font-size-base:          14px
$font-size-large:         ceil(($font-size-base * 1.25)) // ~18px
$font-size-medium:        ceil(($font-size-base * 1.15)) // ~16px
$font-size-small:         ceil(($font-size-base * 0.85)) // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) // ~18px
$font-size-h5:            $font-size-base
$font-size-h6:            ceil(($font-size-base * 0.85)) // ~12px*/


/* Header */

$header-bg-color: #ffffff;
$header-font-color: $typography-color1;
$header-link-hover: $link-color;
//$header-inner-border: 1px solid #01a3c1;

/* Sidebar */

$sb-bg-color: #242424;
$sb-font-color: #aaaaaa;
//$sb-link-hover-bg-color     : $link-color;
//$sb-link-active-bg-color    : #30394c;
//$sb-link-selected-bg-color  : $link-color;
$sb-link-active-font-color: $primary-color;
$sb-link-hover-font-color: $primary-color;
$sb-inner-border: 1px solid #2d2d2d;

/* Main Section */

$main-bg-color: #e9ecef;
//$main-font-color  : #17181a;

/*  Resets   =============================================================== */

html,
body {
    width: 100%;
    height: 100%;
}
body {
    min-height: 100%;
    font-family: 'Fjord One', serif;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #efefef;
    padding: 0;
}
body.login {
    background: #DC2424;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DC2424, #4A569D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DC2424, #4A569D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a {
    color: $link-color;
}
ul.reset,
ol.reset {
    margin: 0;
    padding: 0;
}
ul.reset li,
ol.reset li {
    list-style: none;
}
textarea {
    resize: vertical;
}
form input,
form select {
    color: $typography-color2 !important;
}
form label {
    font-size: 16px;
}

/*.badge {
    background-color: #428bca;
}*/


/*label {
    font-weight: 700;
    font-size: 15px;
}*/

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Alert - Notification - styles
========================================================================== */

.alert-container {
    position: fixed;
    z-index: 9999;
    .cus-cards-with-pad {
        background: #323232;
        border-radius: 3px;
    }
    .content {
        max-width: 400px;
        color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        p {
            margin-bottom: 0;
            padding: 5px 10px;
        }
    }
    button {
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
        -webkit-appearance: none;
        opacity: .7;
        position: absolute;
        top: 2px;
        right: 7px;
        &:hover {
            opacity: 1;
        }
    }
}
.top-right {
    top: 68px;
    right: 5px;
}

/* ==========================================================================
Login page - styles
========================================================================== */

.app-signin {
    /*background-size: 100% auto;*/
    height: 100%;
}
.signin-container {
    padding: 5% 0;
    
    & > div {
        //margin-top: 150px;
        border-style: solid;
        border-width: 1px;
        border-color: #b0b0b0;
        margin-bottom: 20px;
        padding: 20px;
        background: #ffffff;
    }
    .f-sm {
        font-size: 14px;
    }
    .h4 {
        margin: 25px 0 15px;
        text-shadow: 0px 1px 1px #555;
    }
    form {
        .form-control {
            height: 38px;
        }
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 7px;
        }
    }
    hr {
        margin: 10px -20px;
    }
}
.sign-footer {
    background: #303030;
    color: #fff;
    padding: 7px;
    position: absolute;
    bottom: 0;
    width: 100%;
    @include box-shadow(rgba(0, 0, 0, 0.7) 0 -1px 2px 0);
    p {
        margin-bottom: 0;
    }
    a {
        color: #fff;
        padding: 0 15px;
    }
}

/* ==========================================================================
Site main side bar - styles
========================================================================== */

#side-nav {
    width: 270px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    color: $sb-font-color;
    transition: all ease-in-out 0.4s;
    @extend .display-b;
    &.collapsed {
        display: block !important;
        left: -280px;
    }
    .brand-logo {
        //Logo & its position styles
        padding: 5px 0 10px;
        img {
            height: 50px;
            margin-left: 10px;
        }
        h3 {
            @extend .display-ib;
            margin-top: 10px;
            margin-left: 7px;
        }
        a {
            @extend .display-ib;
            color: #ffffff;
            padding-left: 170px;
            cursor: pointer;
            &:hover {
                color: $sb-link-hover-font-color;
            }
        }
        .fa {
            font-size: 2.5rem;
        }
    } // End of .brand-logo
    .nav > li {
        // Nav li and a tag styles
        position: relative;
        @extend .display-b;
        border-bottom: $sb-inner-border;
        padding: 14px 0;
        transition: all, ease-in-out, .5s;
        a {
            @extend .display-b;
            padding: 0 2px 0 10px;
            color: $sb-font-color;
            transition: all, ease-in-out, .25s;
            cursor: pointer;
            white-space: nowrap;
            &:hover {
                color: $sb-link-hover-font-color;
                background: transparent;
                text-decoration: none;
            }
            .fa {
                font-size: 2.2rem;
                margin-right: 6px;
                vertical-align: middle;
                text-align: center;
                //min-width: 24px;
            }
            .fa.pull-right {
                text-align: right;
            }
        }
        &.current {
            &:before {
                border-left: 5px solid $primary-color;
                content: "";
                top: 0;
                left: 0;
                position: absolute;
                width: 5px;
                height: 100%;
            }
            .fa.pull-right {
                transform: rotate(180deg);
                transform-origin: center;
                transition-duration: 0.3s;
            }
            a.active {
                color: $primary-color;
                cursor: default;
                &:focus {
                    background: transparent;
                    outline: none;
                }
            }
            .sub-navs {
                display: block !important;
            }
        }
    } // End .Nav > li
    .sub-navs {
        a {
            padding: 4px 0 4px 5px !important;
        }
    }
    &:after {
        content: "";
        position: fixed;
        width: 270px;
        top: 0;
        bottom: 0;
        @extend .display-b;
        z-index: -2;
        background: $sb-bg-color;
        //transition(width, ease-out, .1s);
        @extend .bottom-mild-s-box-shadow;
    }
    
    /*&:before {
        content: "";
        position: fixed;
        width: 270px;
        top: 0;
        bottom: 0;
        @extend .display-b;
        background: $sb-bg-color;
        //transition(width, ease-out, .1s);
        //@extend .bottom-mild-s-box-shadow;
        z-index: -1;
    }*/
} //End of #side-nav

/* ==========================================================================
Site main content - styles
========================================================================== */

.main[role="main"] {
    position: relative;
}
#main-content {
    @extend .display-b;
    position: relative;
    left: 0;
    margin-left: 271px;
    min-height: 100%;
    @include transition(all, ease-out, .1s);
}

/*  Header Styles   ================================================ */

.navbar-fixed-top {
    margin-left: 270px;
    background: #ffffff;
    max-height: 54px;
    @extend .bottom-moderate2-s-box-shadow;
    .cus-breadcrumb {
        li {
            font-size: 2rem;
            padding: 11px 2px;
            color: $typography-color1;
            @extend .display-ib;
            &.link:after {
                content: "\f105";
                font-family: FontAwesome;
                padding-left: 10px;
            }
        }
        a {
            color: $typography-color1;
            cursor: pointer;
            transition: color, ease-in-out, .2s;
            &:hover {
                color: $link-color;
                background: transparent;
                text-decoration: none;
            }
        }
    }
    a.dropdown-toggle {
        color: $typography-color1;
        padding: 16px 15px;
        //border-left: $header-inner-border;
        &:hover {
            color: $link-color;
            background: transparent;
            text-decoration: none;
        }
        &:focus {
            background: transparent;
            //border-left: $header-inner-border;
        }
    }
    .pri-cus-buttons {
        padding: 9px 20px;
        margin-top: 6px;
        font-size: 1.6rem;
        .fa {
            vertical-align: middle;
            padding-right: 5px;
        }
    }
    .nav.navbar-right > li {
        display: inline-block;
    }
}

/*  Page Styles   ================================================ */

.page-contents {
    margin-top: 60px;
    margin-bottom: 50px;
    table {
        margin-bottom: 0;
        tr.datepicker-last {
            datepicker {
                position: inherit;
                ._720kb-datepicker-calendar {
                    bottom: 0 !important;
                    width: 200px;
                }
            }
        }
        th {
            font-size: 1.5rem;
            color: $typography-color1;
            padding: 10px 8px !important;
        }
        td {
            padding: 10px 8px !important;
            color: $typography-color2;
            -webkit-font-smoothing: antialiased;
            .fa {
                font-size: 1.6rem;
                cursor: pointer;
                @extend .pad-5-10;
                opacity: 0.7;
                @include transition(all, ease-out, .1s);
                &:hover {
                    opacity: 1;
                    color: $link-color;
                }
            }
            .fa.not-link {
                font-size: 1.8rem;
                @extend .pad-0-10;
                cursor: default;
                opacity: 1;
                &:hover {
                    opacity: 1;
                    color: $typography-color2;
                }
            }
        }
    }
    datepicker {
        position: inherit;
        ._720kb-datepicker-calendar {
            left: 0;
            width: 200px;
        }
    }
    .table-bordered > tbody > tr > td {
        /*white-space: nowrap;*/
        text-transform: capitalize;
    }
    .table.custom-tag > thead > tr > th {
        border-left: 1px solid #DCDCDC;
        border-right: 1px solid #DCDCDC;
    }
    .progress {
        margin-bottom: 0;
    }
    .filter-container {
        padding-top: 5px;
        padding-bottom: 15px;
        label {
            font-size: 1.8rem;
            &.open .fa {
                transform: rotate(180deg);
                transform-origin: center;
                transition-duration: 0.3s;
            }
            &:hover {
                color: $link-color;
                cursor: pointer;
            }
        }
        .color-code-filter {
            label {
                line-height: 54px;
            }
        }
    }
    .filter-container.finline {
        label {
            min-width: 80px;
        }
        label.label-size {
            min-width: 0;
        }
        input[type="checkbox"] {
            min-width: 0;
            margin: 15px;
            width: auto;
        }
        input,
        select {
            min-width: 200px;
        }
        .btn-align {
            margin: 1% 18%;
        }
        datepicker {
            font-family: 'Varela Round', sans-serif;
            float: none;
            width: 200px;
            ._720kb-datepicker-calendar {}
        }
    }
    form.styles {
        .form-group {
            @extend .pad-5-0;
        }
        button {
            padding: 9px 24px;
        }
    }
    form.styles {
        button.pull-right {
            margin-left: 20px;
        }
    }
    /*--- Mohan Help Faq style Start ---*/
    .faq-font {
        font-size: 1.6rem;
        cursor: pointer;
        @extend .pad-5-10;
        opacity: 0.7;
        @include transition(all, ease-out, .1s);
        &:hover {
            opacity: 1;
            color: $link-color;
        }
    }
    /*--- Mohan Help Faq style End ---*/
    .table > thead > tr > th {
        white-space: nowrap;
    }
    .tag-active {
        border-radius: 4px;
        background: #f2be35;
        color: #303030;
        &:hover {
            background: #f2be35;
            color: #000;
        }
    }
    .tag-removed {
        border-radius: 4px;
        color: rgb(255, 255, 255);
        background: rgb(250, 229, 173);
        border: 1px solid rgb(250, 229, 173);
    }
    
    .cus-pagination {
        
    }
    
}
.sidebar-collapse {
    #side-nav {
        width: 50px;
        overflow: hidden;
        -webkit-transition: width 500ms ease-in-out;
        -moz-transition: width 500ms ease-in-out;
        -o-transition: width 500ms ease-in-out;
        transition: width 500ms ease-in-out;
        &:after {
            width: 50px;
        }
        .brand-logo img {
            margin-left: 4px;
        }
        .nav {
            .fa {
                margin-left: 4px;
            }
            li {
                border-bottom: 0;
            }
            .menu-title {
                visibility: hidden;
            }
        }
    }
    #main-content {
        margin-left: 50px;
        -webkit-transition: margin 300ms ease-in-out;
        -moz-transition: margin 300ms ease-in-out;
        -o-transition: margin 300ms ease-in-out;
        transition: margin 300ms ease-in-out;
    }
    .navbar-fixed-top {
        margin-left: 50px;
        -webkit-transition: margin 300ms ease-in-out;
        -moz-transition: margin 300ms ease-in-out;
        -o-transition: margin 300ms ease-in-out;
        transition: margin 300ms ease-in-out;
    }
}
.cus-pagination {
    li {
        @extend .display-ib;
        @extend .mar-0-10;
        &.current {
            border-radius: 100%;
            background: #999999;
            margin: 15px 10px;
            padding-top: 3px;
            width: 25px;
            height: 25px;
            text-align: center;
            color: #fff;
        }
    }
}
.cus-pagination-pager {
    li {
        @extend .display-ib;
        button {
            padding: 8px 24px;
            margin-top: 10px;
            margin-right: 10px;
        }
    }
}
.table-striped > tbody > tr.highlight {
    background: #ffffff;
}
.table-striped > tbody > tr.link {
    background: #ffffff;
    //border: 1px solid $subtle-color;
    td {
        color: $link-color;
    }
}
footer {
    margin-top: 20px;
    margin-right: 15px;
}
.lookup {
    .panel {
        .panel-heading {
            span {
                font-size: 18px;
                font-weight: bold;
            }
            .fa {
                padding: 0 7px;
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
}

/* ==========================================================================
Media Queries
========================================================================== */

@media screen and (max-width: 767px) {
    #main-content,
    .navbar-fixed-top {
        margin-left: 0;
    }
    #main-content {
        .navbar-fixed-top {
            .hidden-md li {
                display: inline-block;
                font-size: 2rem;
                padding: 11px 2px;
                color: #505050;
                a {
                    color: #505050;
                    &:hover {
                        color: $link-color;
                        cursor: pointer;
                    }
                }
            }
            a.dropdown-toggle {
                padding: 16px 5px;
                border-left: none;
            }
            .dropdown-menu {
                right: 0 !important;
                left: -120px;
            }
        }
        .mob-heads {
            h3 {
                margin-top: 5px;
                font-size: 2rem;
            }
            button {
                width: 40px;
                height: 40px;
                overflow: hidden;
                white-space: nowrap;
                padding: 9px;
                .fa {
                    font-size: 2.5rem;
                    margin-right: 10px;
                    margin-left: 1px;
                }
            }
        }
        .page-contents .table-bordered > tbody > tr > td {
            padding-left: 50% !important;
        }
        .page-contents .table-striped > tbody > tr > td {
            padding-left: 38% !important;
        }
        .cus-pagination-pager {
            li button {
                margin-right: 30px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .page-contents .table-bordered > tbody > tr > td {
            padding-left: 50% !important;
        }
    
    .dashb .cus-scroll-container {
        display: none;
    }
    
    .permit {
        #main-content { 
            .page-contents .table-bordered > tbody > tr > td {
                 padding-left: 0% !important;
             }
        }
    }
}

/* Small devices (tablets, 768px and up) */

@media screen and (min-width: 768px) and (max-width: 991px) {
    #main-content,
    .navbar-fixed-top {
        margin-left: 0;
    }
    footer.content-footer {
        bottom: 0;
        position: fixed;
        right: 0;
        width: 100%;
        padding-right: 15px;
        color: #adb3b8;
        background-color: #222222;
        margin-right: 0
    }
    #main-content {
        .navbar-fixed-top {
            .hidden-md li {
                display: inline-block;
                font-size: 2rem;
                padding: 11px 2px;
                color: #505050;
                a {
                    color: #505050;
                    &:hover {
                        color: $link-color;
                        cursor: pointer;
                    }
                }
            }
        }
        .mob-heads {
            h3 {
                margin-top: 5px;
            }
            button {
                margin-top: 3px;
            }
        }
    }
    .page-contents .filter-container.finline input,
    .page-contents .filter-container.finline select {
        width: 200px;
    }
}

/* Medium devices (desktops, 992px and up) */

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-fixed-top {
        .col-md-1 {
            padding-right: 5px;
            padding-left: 5px;
        }
        .cus-breadcrumb {
            width: 250px;
            color: #fff;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    footer.content-footer {
        bottom: 0;
        position: fixed;
        right: 0;
        width: 100%;
        padding-right: 15px;
        color: #adb3b8;
        background-color: #222222;
        margin-right: 0
    }
    .page-contents .filter-container.finline input,
    .page-contents .filter-container.finline select {
        width: 200px;
    }
    datepicker {
        position: inherit;
        ._720kb-datepicker-calendar {
            left: 0;
        }
    }
    @-moz-document url-prefix() {
        .form-inline datepicker {
            ._720kb-datepicker-calendar {
                right: -95px;
                top: 60px;
            }
        }
    }
}

/* Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
    footer.content-footer {
        bottom: 0;
        position: fixed;
        right: 0;
        width: 100%;
        padding-right: 15px;
        color: #adb3b8;
        background-color: #242424;
        margin-right: 0
    }
    .page-contents .filter-container.finline input,
    .page-contents .filter-container.finline select {
        width: 200px;
    }
    datepicker {
        position: inherit;
        ._720kb-datepicker-calendar {
            left: 0;
            width: 200px;
        }
    }
    @-moz-document url-prefix() {
        .form-inline datepicker {
            ._720kb-datepicker-calendar {
                right: -95px;
                top: 60px;
            }
        }
    }
}

/*  General Class & Styles   ================================================ */

.text-bold {
    font-weight: bold;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.required {
    color: #d62e2e;
}
.cus-cards {
    // Custom Panel
    background-color: rgb(255, 255, 255);
    box-shadow: 0.5px 0.9px 4px 0px rgba(0, 0, 0, 0.2);
}
.cus-cards-with-pad {
    // Custom Panel with Padding
    background-color: rgb(255, 255, 255);
    box-shadow: 0.5px 0.9px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.dz-default {
    background: $main-bg-color;
    border: 2px dashed $subtle-color;
    position: relative;
    border-radius: 5px;
    transition: border-color .35s ease-out;
    min-height: 150px;
    padding: 10px;
    &:hover {
        border-color: #474950;
        cursor: pointer;
    }
}
// Custom buttons
.pri-cus-buttons {
    display: inline-block;
    background-color: $tertiary-color;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    border: 0;
    border-radius: 2em;
    //box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    outline: none;
    @include transition(all, ease-in-out, .25s);
    -webkit-font-smoothing: antialiased;
    &:hover {
        background-color: darken($tertiary-color, 20%);
        text-decoration: none;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
        //@include transition(all, linear, .25s);
    }
    &:active {
        color: #fff;
        background-color: darken($tertiary-color, 20%);
        text-decoration: none;
        box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    }
}
.sec-cus-buttons {
    display: inline-block;
    background-color: $primary-color;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    border: 0;
    border-radius: 2em;
    //box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    outline: none;
    @include transition(all, ease-in-out, .25s);
    -webkit-font-smoothing: antialiased;
    &:hover {
        background-color: darken($primary-color, 20%);
        text-decoration: none;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
        //@include transition(all, linear, .25s);
    }
    &:active {
        color: #fff;
        background-color: darken($primary-color, 20%);
        text-decoration: none;
        box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    }
}
.page-contents .custom-tag {
    .pri-cus-buttons,
    .btn-disabled {
        margin: 3px;
    }
    .fa {
        padding: 1px 5px;
    }
}
.page-contents .custom-tag {
    .pri-cus-buttons {
        padding: 2px 3px;
        font-weight: inherit;
        .fa {
            padding: 0px 2px;
        }
    }
}
.btn-default {
    box-shadow: none !important;
    background: #999999;
    border: 1px solid #999999;
    color: #ffffff;
    border-radius: 2em;
    -webkit-font-smoothing: antialiased;
    /*border-radius: 3px;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;*/
    &:hover {
        color: #ffffff;
        box-shadow: none !important;
        background: #999999;
        border: 1px solid #999999;
    }
    &:active {
        color: #ffffff;
        box-shadow: none !important;
        background: #999999;
        border: 1px solid #999999;
    }
}
.declined {
    background: $declined !important;
}
.posted {
    background: $posted !important;
}

/*---- Mohan Styles Start-----*/

.table-responsive .font-color td {
    color: #fff !important;
}

/*
.content-template {
    background: $content-template !important;
}
.scheduled {
    background: $scheduled !important;
}
.pending-approval {
    background: $pending-approval !important;
}
.declined {
    background: $declined !important;
}
.cancelled {
    background: $cancelled !important;
}



*/

.font-green {
    color: $posted;
}
.whitspace {
    white-space: nowrap !important;
}

/*====== General color code ===============*/

.font-color {
    color: #fff !important;
}
.purple {
    background: #512DA8 !important;
}
.red {
    background: #e35d5b !important;
}
.orange {
    background: #eea849 !important;
}
.green {
    background: #8DC26F !important;
}
.grey {
    background: #999999 !important;
}
.table-cell {
    min-width: 120px;
}
*:focus {
    outline: none !important;
}

/*---- Mohan Styles End-----*/

hr {
    border-top: 1px solid #dadada;
}
.btn-disabled {
    box-shadow: none !important;
    background: #999999;
    border: 1px solid #999999;
    color: #ffffff;
    cursor: not-allowed;
    opacity: .75;
    border-radius: 2em;
    -webkit-font-smoothing: antialiased;
    &:hover {
        color: #ffffff;
        box-shadow: none !important;
    }
    &:active {
        color: #ffffff;
        box-shadow: none !important;
    }
}
.pad-0 {
    padding: 0px;
}
.pad-5 {
    padding: 5px;
}
.pad-7 {
    padding: 7px;
}
.pad-10 {
    padding: 10px;
}
.pad-15 {
    padding: 15px;
}
.pad-25 {
    padding: 25px;
}
.pad-5-10 {
    padding: 5px 10px;
}
.pad-5-0 {
    padding: 5px 0px;
}
.pad-0-5 {
    padding: 0px 5px;
}
.pad-0-10 {
    padding: 0px 10px;
}
.pad-10-5 {
    padding: 10px 5px;
}
.pad-7-15 {
    padding: 7px 15px;
}
.pad-15-7 {
    padding: 15px 7px;
}
.mar-0 {
    margin: 0px;
}
.bot0 {
    bottom: 0px !important;
}
.mar-5 {
    margin: 5px;
}
.mar-7 {
    margin: 7px;
}
.mar-10 {
    margin: 10px;
}
.mar-25 {
    margin: 25px;
}
.mar-5-10 {
    margin: 5px 10px;
}
.mar-5-0 {
    margin: 5px 0px;
}
.mar-0-5 {
    margin: 0px 5px;
}
.mar-0-10 {
    margin: 0px 10px;
}
.mar-10-0 {
    margin: 10px 0px;
}
.mar-10-5 {
    margin: 10px 5px;
}
.mar-7-15 {
    margin: 7px 15px;
}
.mar-15-7 {
    margin: 15px 7px;
}
.mar-0-25 {
    margin: 0px 25px;
}
.display-ib {
    display: inline-block;
}
.display-i {
    display: inline;
}
.display-b {
    display: block;
}
.display-n {
    display: none;
}
.bordernone {
    border: none !important;
}
.border-left-none {
    border-left: none !important;
}
.border-right-none {
    border-right: none !important;
}
.top-bottom-dark-box-shadows {
    //@include box-shadow($color $hoff $voff $blur $spread $inset, $color $hoff $voff $blur $spread $inset);
    @include box-shadow(rgba(255, 255, 255, 0.75) 0 1px 0 0 inset, rgba(0, 0, 0, 0.9) 0 1px 2px 0);
}
.top-bottom-moderate-box-shadows {
    @include box-shadow(rgba(255, 255, 255, 0.6) 0 1px 0 0 inset, rgba(0, 0, 0, 0.7) 0 1px 2px 0);
}
.top-bottom-light-box-shadows {
    @include box-shadow(rgba(255, 255, 255, 0.4) 0 1px 0 0 inset, rgba(0, 0, 0, 0.6) 0 1px 2px 0);
}
.top-bottom-mild-box-shadows {
    @include box-shadow(rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(51, 51, 51, 0.75) 0 1px 2px 0);
}
.top-highlight-box-shadow {
    @include box-shadow(rgba(255, 255, 255, 0.75) 0 1px 0 0 inset);
}
.bottom-dark-box-shadow {
    @include box-shadow(rgba(0, 0, 0, 0.9) 0 1px 3px 0);
}
.bottom-moderate-box-shadow {
    @include box-shadow(rgba(0, 0, 0, 0.7) 0 1px 3px 0);
}
.bottom-moderate2-box-shadow {
    @include box-shadow(rgba(0, 0, 0, 0.6) 0 1px 2px 0);
}
.bottom-light-box-shadow {
    @include box-shadow(rgba(0, 0, 0, 0.3) 0 1px 2px 0);
}
.bottom-mild-box-shadow {
    @include box-shadow(rgba(51, 51, 51, 0.75) 0 1px 2px 0);
}
.bottom-dark-s-box-shadow {
    @include box-shadow(rgba(0, 0, 0, 0.9) 0 1px 1px 0);
}
.bottom-moderate-s-box-shadow {
    @include box-shadow(rgba(0, 0, 0, 0.7) 0 1px 1px 0);
}
.bottom-moderate2-s-box-shadow {
    @include box-shadow(rgba(0, 0, 0, 0.6) 0 1px 1px 0);
}
.bottom-light-s-box-shadow {
    @include box-shadow(rgba(0, 0, 0, 0.3) 0 1px 1px 0);
}
.bottom-mild-s-box-shadow {
    @include box-shadow(rgba(51, 51, 51, 0.75) 0 1px 1px 0);
}
.mat-bot-b-shadow {
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mat-bot-s-shadow {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

/* Spinner Style by Baskar */


/* Absolute Center Spinner */

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}